/* header头部样式 */
.header{
    margin: 0 auto;
    border-bottom: 2px solid #d2364c;
}
.search{
    padding: 25px 0;
    height: 90px;
}
.search input{
    height: 40px;
    border:1px solid #f03726;
}
.search span button{
    color: white;
    width: 100px;
    height: 40px;
    background-color: #f03726;
}
.search span button:hover{
    color: white;
}
.nav ul .active{
    background-color: #d2364c;
}
.nav ul li a:hover{
    color: white;
    background-color: #d2364c;
}
.nav ul li a:focus{
    color: white;
    background-color: #d2364c;
}
.myWelfare{
    margin-top: 5px;
    width:150px;
    height: 40px;
}
/* header头部样式 */

/* 侧边栏购物车样式 */
html,body{
    /* 首先给父元素满高度 */
    height: 100%;
    width: 100%;
}
.sideBar{
    top:0;
    right: 0;
    position:fixed;
    padding: 100px 0px 15px 10px;
    width: 40px;
    min-height:100%;
    background-color: black;
}
.sideBar p{
    cursor: pointer;
    color: white;
}
.sideBar p a{
    display: block;
    color: white;
    border-radius:50%;
    background-color: #ed145b;
    padding-left: 5px;
    width: 20px;
    height: 20px;
}
.sideBar p i:hover{
    color: #ed145b;
}
/* 侧边栏购物车样式 */

/* footer底部样式 */
.footer{
    margin: 0 auto;
}
.hr1{
    border-top: 2px solid #ff5400;
}
.hr2{
    border-top: 2px solid #dddddd;
}
.url{
    color: #8e8e8e;
}
/* footer底部样式 */


/* index首页样式 */
.index{
    margin:0 auto;
}
/* 二级导航 */
.nav_sec{
    /* div置于顶层 */
    z-index:99999;
    width: 700px;
    height: 552px;
    position: absolute;
    left: 140px;
    top: 0px;
    background-color: white;
}
.sort_list{
    margin-left: 15px;
    width: 140px;
}
.sort_list li{
    background-color: black;
}
.sort_list li div{
    display: none;
}
.sort_list li:hover div{
    display: block;
}
.sort_list li a:hover{
    color: black;
    background-color: white;
}
.sort_list li a{
    color: white;
}
.sort_list li a i{
    color: #d83e54;
}
.sort_list li a span{
    float: right;
}
.sort_list li a:hover span{
color: black;
}
.sort_list li span{
    color: white;
}
.sort_title{
    font-weight: 600;
    color: #df5568;
}
.sort_commodity{
    cursor: pointer;
    margin:4px 0 0 5px;
    padding: 2px 10px;
    border: 1px solid #888888;
    color: #888888;
}
.sort_commodity:hover{
    color: black;
    border: 1px solid black;
    text-decoration: none;
}
.business_title{
    margin-top: 30px;
    padding-bottom: 4px;
    border-bottom: 1px solid #88888888;
}
.business_content div{
    padding-right: 8px;
}
.business_content div a{
    color: #888888;
}
.business_content div a:hover{
    text-decoration: none;
    color: black;
}
.business_content div{
    color: #888888;
}
.business_content div span{
    float: left;
}
.headline{
    height: 305px;
    background-color: #f9f9f9;
}
.headline h5{
    color: red;
}
.headline p {
    white-space:nowrap;
    word-break:break-all;
    text-overflow:ellipsis;overflow:hidden;
}
.explosion{
    padding:0;
    margin-top: 10px;
    border: 3px solid #ffd800;
}
.explosion_title{
    width: 100%;
    background-color: #ffd800;
}
.count{
    font-size: 20px;
    margin-top: 35px;
    margin-right: 20px;
}
.count a{
    margin-left: 10px;
    padding: 5px 0 0 8px;
    display: block;
    color: white;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #8b5826;
}
.count span{
    margin-left: 10px;
    margin-top: 5px;
}
.explosion_commodity{
    border-right: 3px solid #ffd800;
}
.explosion_commodity img{
    margin-top: 20px;
    margin-left: 20px;
}
.explosion_commodity p{
    margin-top: 10px;
}
.explosion_commodity h4{
    color: red;
}
.explosion_commodity span{
    font-size: 15px;
}
/* 商品分类(甜品、坚果) */
.classification{
    margin-top: 10px;
}
.classification_top{
    height: 45px;
}
.classification_remark{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    height: 25px;
    line-height: 25px;
    color: #977a6f;
    border-radius: 10px;
    background-color: #fff7d1;
}
.classification_remark:hover{
    color: #977a6f;
}
.classification_title{
    margin-top: 10px;
}
.classification_content_list ul{
    margin-top: 20px;
    margin-left: -70px;
    list-style: none;
}
.classification_content_list ul li{
    margin-left: 50px;
    display: inline;
}
.classification_pic_sm p{}
/* index首页样式 */

/* login登陆页面样式 */
.login{
    height: 500px;
    background:url(../../img/big1.jpg) no-repeat 0px center
}
.login_title{
    margin:0 auto;
    display: block;
    height: 50px;
    line-height: 50px;
}
.login_box{
    margin-top: 20px;
    height: 450px;
    background-color: #f8f8f8;
}
.login_icon i{
    cursor: pointer;
    color: #0e90d2;
    font-size: 15px;
}
.login_icon i:hover{
    cursor: pointer;
    color: #25a3d2;
}
/* login登陆页面样式 */



/* detail商品详情页面样式 */
.list_location{
    margin-top: 20px;
}
.detail_img_small{
    border: 2px solid transparent;
}
.detail_img_small:hover{
    cursor: pointer;
    border: 2px solid red;
}
.discount{
    width: 100%;
    height: 110px;
    padding:10px 10px;
    background-color: #f7f7f7;
}
.discount_box p{
    color: #e4393c;
    font-weight: 600;
}
.discount_titl{
    width: 70px;
    color: #888888;
}
.price{
    color: #cf0000;
    font-weight: 800;
    font-size: 20px;
}
.price:hover{
    color: #cf0000;
}
.discount_titl:hover{
    color: #888888;
}
.location{
    margin-top: 10px;
}
.sale{
    margin-top: 10px;
    border-top: 1px dashed #c9c9c9;
    border-bottom: 1px dashed #c9c9c9;
}
.sale_box{
    height: 30px;
}
.sale_box a{
    line-height: 30px;
}
.sale_box span{
    line-height: 30px;
    color: #c40000;
    font-weight: 700;
}
.parameter{
    margin-top: 10px;
}
.parameter_choose{
    padding: 2px 4px;
    display: block;
    width: 40px;
}
.parameter_choose:hover{
    cursor: pointer;
    border: 2px solid #e4393c;
}
.quantity{
    margin-top: 10px;
}
.detail_btn_buy{
    margin-top: 20px;
}
/* 优惠套装 */
.set{
    margin-top: 20px;
}
.set h4{
    font-weight: 800;
    color: #e8393c;
}
.set_commodity{
    width: 180px;
}
.set_commodity img{
    width: 160px;
}
.set_commodity p{
    text-align: center;
}
.set_commodity p a{
    font-weight: 700;
    color: #e8393c;
}
.set_commodity p s{
    color: #999999;
}
.set_price{
    width: 150px;
    margin-left: 20px;
    padding-top: 70px;
    text-align: center;
}
.see_title{
    padding: 5px 0px;
    text-align: center;
    background-color: #f7f7f7;
    width: 100%;
    height: 30px;
}
.see_commodity{
    margin-top: 20px;
}
.see_commodity img{
    width: 100%;
}
.see_commodity p{
    font-weight: 600;
}
.see_commodity p a{
    text-align: center;
    display: block;
    font-weight: 800;
    color: #e4393c;
}
.details_title{
    background-color: #f7f7f7;
    height: 42px;
}
.details_title ul li{
    width: 200px;
    text-align: center;
}
#details_detail{
    padding: 20px 10px;
}
#details_detail p{
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff7700;
}
.details_parameter div{
    margin-top: 10px;
}
.details_parameter a{
    font-weight: 600;
}
.percent{
    margin-top: 20px;
}
.percent_number a{
    margin:0 auto;
    font-size: 35px;
    color: #e4393c;
}
.percent_number span{
    font-size: 15px;
}
.percent_number p{
    margin-left: 12px;
}
.percent_tab{
    margin-top: 10px;
    padding:3px 5px;
    margin-right: 10px;
    display: block;
    font-size: 12px;
    color: white;
    background-color: #f47602;
}
.percent_tab:hover{
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #f49501;
}
.all{
    height: 30px;
    background-color: #fafafa;
    margin-top: 20px
}
.all a{
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
}
.evaluate{
    margin-top: 20px;
}
.avator{
    border-radius: 50%;
}
.evaluate_box{
    margin-left: 10px;
    border: 1px solid #dedede;
    padding-bottom: 15px;
}
.evaluate_box_name{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    display: block;
    background-color: #f8f8f8;
    font-weight: 700;
    color: #999999;
}
.evaluate_box_name span{
    color: #999999;
}
.like_box{
    margin-top: 20px;
    padding: 10px 5px;
}
.search_box{
    cursor: pointer;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid gainsboro;
}
.search_box:hover{
    box-shadow: 0px 5px 8px #888888;
}
.tab{
    margin-top: 10px;
    border: 1px solid gainsboro;
    padding: 15px 17px;
}
.tab span{
    padding: 3px 5px;
    margin-right: 10px;
}
.tab span:hover{
    cursor: pointer;
    color: red;
    border: 1px solid darkgrey;
}
.conform_location{
    margin-top: 20px;
}
.location_box{
    border: 2px dashed #d1eafa;
    margin-top: 20px;
    padding: 10px 5px;
}
.location_box p{
    font-weight: 700;
}
/* detail商品详情页面样式 */
