/* header头部样式 */
.header{
    margin: 0 auto;
    border-bottom: 2px solid #d2364c;
}
.search{
    padding: 25px 0;
    height: 90px;
}
.search input{
    height: 40px;
    border:1px solid #f03726;
}
.search span button{
    color: white;
    width: 100px;
    height: 40px;
    background-color: #f03726;
}
.search span button:hover{
    color: white;
}
.nav ul .active{
    background-color: #d2364c;
}
.nav ul li a:hover{
    color: white;
    background-color: #d2364c;
}
.nav ul li a:focus{
    color: white;
    background-color: #d2364c;
}
.myWelfare{
    margin-top: 5px;
    width:150px;
    height: 40px;
}
/* header头部样式 */

/* 侧边栏购物车样式 */
html,body{
    /* 首先给父元素满高度 */
    height: 100%;
    width: 100%;
}
.sideBar{
    top:0;
    right: 0;
    position:fixed;
    padding: 100px 0px 15px 10px;
    width: 40px;
    min-height:100%;
    background-color: black;
}
.sideBar p{
    cursor: pointer;
    color: white;
}
.sideBar p a{
    display: block;
    color: white;
    border-radius:50%;
    background-color: #ed145b;
    padding-left: 5px;
    width: 20px;
    height: 20px;
}
.sideBar p i:hover{
    color: #ed145b;
}
/* 侧边栏购物车样式 */

/* footer底部样式 */
.footer{
    margin: 0 auto;
}
.hr1{
    border-top: 2px solid #ff5400;
}
.hr2{
    border-top: 2px solid #dddddd;
}
.url{
    color: #8e8e8e;
}
/* footer底部样式 */


/* index首页样式 */
.index{
    margin:0 auto;
}
/* 二级导航 */
.nav_sec{
    /* div置于顶层 */
    z-index:99999;
    width: 700px;
    height: 552px;
    position: absolute;
    left: 140px;
    top: 0px;
    background-color: white;
}
.sort_list{
    margin-left: 15px;
    width: 140px;
}
.sort_list li{
    background-color: black;
}
.sort_list li div{
    display: none;
}
.sort_list li:hover div{
    display: block;
}
.sort_list li a:hover{
    color: black;
    background-color: white;
}
.sort_list li a{
    color: white;
}
.sort_list li a i{
    color: #d83e54;
}
.sort_list li a span{
    float: right;
}
.sort_list li a:hover span{
color: black;
}
.sort_list li span{
    color: white;
}
.sort_title{
    font-weight: 600;
    color: #df5568;
}
.sort_commodity{
    cursor: pointer;
    margin:4px 0 0 5px;
    padding: 2px 10px;
    border: 1px solid #888888;
    color: #888888;
}
.sort_commodity:hover{
    color: black;
    border: 1px solid black;
    text-decoration: none;
}
.business_title{
    margin-top: 30px;
    padding-bottom: 4px;
    border-bottom: 1px solid #88888888;
}
.business_content div{
    padding-right: 8px;
}
.business_content div a{
    color: #888888;
}
.business_content div a:hover{
    text-decoration: none;
    color: black;
}
.business_content div{
    color: #888888;
}
.business_content div span{
    float: left;
}
.headline{
    height: 305px;
    background-color: #f9f9f9;
}
.headline h5{
    color: red;
}
.headline p {
    white-space:nowrap;
    word-break:break-all;
    text-overflow:ellipsis;overflow:hidden;
}
.explosion{
    padding:0;
    margin-top: 10px;
    border: 3px solid #ffd800;
}
.explosion_title{
    width: 100%;
    background-color: #ffd800;
}
.count{
    font-size: 20px;
    margin-top: 35px;
    margin-right: 20px;
}
.count a{
    margin-left: 10px;
    padding: 5px 0 0 8px;
    display: block;
    color: white;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #8b5826;
}
.count span{
    margin-left: 10px;
    margin-top: 5px;
}
.explosion_commodity{
    border-right: 3px solid #ffd800;
}
.explosion_commodity img{
    margin-top: 20px;
    margin-left: 20px;
}
.explosion_commodity p{
    margin-top: 10px;
}
.explosion_commodity h4{
    color: red;
}
.explosion_commodity span{
    font-size: 15px;
}
/* 商品分类(甜品、坚果) */
.classification{
    margin-top: 10px;
}
.classification_top{
    height: 45px;
}
.classification_remark{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    height: 25px;
    line-height: 25px;
    color: #977a6f;
    border-radius: 10px;
    background-color: #fff7d1;
}
.classification_remark:hover{
    color: #977a6f;
}
.classification_title{
    margin-top: 10px;
}
.classification_content_list ul{
    margin-top: 20px;
    margin-left: -70px;
    list-style: none;
}
.classification_content_list ul li{
    margin-left: 50px;
    display: inline;
}
.classification_pic_sm p{}
/* index首页样式 */

/* login登陆页面样式 */
.login{
    height: 500px;
    background:url(../../img/big1.jpg) no-repeat 0px center
}
.login_box{
    margin-top: 20px;
    height: 450px;
    background-color: #f8f8f8;
}
/* login登陆页面样式 */
